{% extends 'layout.html' %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">About this project</h1>
            <p class="fs-5 text-break">This project was developed by two students Mohit Kumar and Shobha Rajanna from the
                Friedrich-Alexander-University Erlangen-Nürnberg (FAU) for the seminar
                <a href="https://www.ti.rw.fau.de/courses/hot-topics-in-web-technologies-and-the-internet-of-things/"
                   class="stretched-link text-danger" style="position: relative;">Hot Topics in Web Technologies and the
                    Internet of Things</a>
            </p>
            <p class="fs-5 text-break">The goal of our topic was to develop a microservice that detects the
                ASL hand gesture of a user based on his hand orientation. A camera-based application for
                Hand Gesture Recognition shall be the presented at the end of the semester.
            </p>
            <p class="fs-5 text-break"> We have used google mediapipe to recognize hand features and train a model on
                these features. </p>

            <p class="fs-5 text-break">More information can also be retrieved from our <a
                        href="https://github.com/wintechis/cv_for_primitives/blob/main/README.md"
                        class="stretched-link text-danger" style="position: relative;">GitHub Repository</a>.</p>
        </div>
    </div>
{% endblock %}